*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background:linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(image//background.png);
    background-position: center;
    background-size: cover;
    height:109vh;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: #ff7200;
    font-size: 37px;
    font-family: Arial;
    margin-left: 5px;
    margin-top: 13px;
}
.search{
    float: left;
    width: 330px;
    margin-left: 350px;
}    
.sear{
    height: 40px;
    width: 200px;
    font-family: 'Times New Roman';
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 13px; 
    color: white;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;   
}
.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btn:focus{
    outline: none;
}
.sear:focus{
    outline: none;
}
.menu{
    float: left;
    width: 400px;
    height: 70;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
    margin-top: 26px;
    list-style: none;
}
ul li a{
    text-decoration: none;
    margin-left: 60px;
    margin-top: 25px;
    font-size: 17px;
    font-family: arial;
    font-weight: bold;
    color: white;
}
ul li a:hover{
    color: #ff7200;
}
.left{
    padding-top: 200px;
    color: #fff;
    padding-left: 200px;
}
.wel{
    font-size: 40px;
    font-family: 'Times New Roman';
    letter-spacing: 4px;
}
.dtl{
    font-size: 30px;
    padding-left: 20px;
    padding-bottom: 20px;
}
.name{
    font-size: 80px;
    display: flex;
    color:  #111;
    font-family: Arial;
    padding-left: 30px;
}
.name span{
    display: table-cell;
    margin: 0;
    padding: 0;
    animation: animate 2s linear infinite;
}
.name span:nth-child(1){
    animation-delay: 0s;
}
.name span:nth-child(2){
    animation-delay: 0.25s;
}
.name span:nth-child(3){
    animation-delay: 0.5s;
}
.name span:nth-child(4){
    animation-delay: 0.75s;
}
.name span:nth-child(5){
    animation-delay: 1s;
}
.name span:nth-child(6){
    animation-delay: 1.25s;
}
.name span:nth-child(7){
    animation-delay: 1.5s;
}
.name span:nth-child(8){
    animation-delay: 1.75s;
}
@keyframes animate{
    0%,100%{
        color: #fff;
        filter: blur(2px);
        text-shadow: 0 0 10px #00b3ff,
                    0 0 20px #00b3ff,
                    0 0 40px #00b3ff,
                    0 0 80px #00b3ff,
                    0 0 120px #00b3ff,
                    0 0 200px #00b3ff,
                    0 0 300px #00b3ff,
                    0 0 400px #00b3ff;
                    
    }
    5%,95%{
        color: #111;
        filter: blur(0px);
        text-shadow: 0 0 10px none;
    }

}
.deg{
    padding-top: 20px;
    font-size: 30px;
}

@media only screen and (max-width: 480px)
{
    .main{
    height:47vh;
    width: 
    }
    .logo{
    font-size: 18px;
    margin-left: 2px;
    margin-top: 5px;
    }
    .search {
    float: left;
    width: 296px;
    margin-left: 25px;
    }
    .sear {
    height: 13px;
    width: 77px;
    font-family: 'Times New Roman';
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 10px;
    color: white;
    border-right: none;
    font-size: 8px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    }
    .btn {
    width: 37px;
    height: 22px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 10px;
    color: #fff;
    font-size: 9px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    }
    .left {
    padding-top: 110px;
    color: #fff;
    padding-left: 2px;
    }
    .wel {
    font-size: 20px;
    font-family: 'Times New Roman';
    letter-spacing: 2px;
    }
    .dtl {
    font-size: 18px;
    padding-left: 7px;
    padding-bottom: 2px;
    }
    .name {
    font-size: 18px;
    display: flex;
    color: #111;
    font-family: Arial;
    padding-left: 30px;
    }
    .deg {
    padding-top: 3px;
    font-size: 20px;
    }
    .menu {
    float: left;
    width: 80px;
    position: relative;
    display: inline-block;
    padding-top: 5px;
    padding-left: 3px;
    color: #ff7200;
    }
    .icon {
    width: 297px;
    float: right;
    height: 27px;
    }
  
    ul {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 12px 16px;
      z-index: 1;
    }

    .menu:hover ul {
      display: block;
    }
}
